doctype html
html
	include common/_head
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->
		include common/_mixins


		//- include common/_welcome

		//- include common/_menu
		include common/_about_block1
		//- include common/_about_block2
		//- include common/_about_block3
		//- include common/_footer

		//- include common/_menu
		//- include common/_blog_block1
		//- include common/_blog_block2
		//- include common/_footer
		
		//- include common/_work_block1
		//- include common/_work_block2
		//- include common/_work_block3
		//- include common/_footer