$link-hover: #4e8839
$text-font-h2: roboto-regular
$text-font-p: roboto-regular

/* Response About */
$left-side-container: 67%
$right-side-container: 90%


@import ../../bower_components/singularity/stylesheets/_singularitygs

@import common/_fonts

.clearfix:before,
.clearfix:after
	content: ' '
	display: table

.clearfix:after
	clear: both

body
	position: relative

@import common/_module


@import common/_welcome
@import common/_head_site_about
@import common/_head_site_about2
@import common/_head_site_about3
@import common/_menu
@import common/_blog_block1
@import common/_blog_block2
@import common/_work_block1
@import common/_work_block2
@import common/_work_block3
@import common/_footer


