@font-face
	font-family: Sansus-Webissimo-Regular
	src: url(../fonts/Sansus-Webissimo-Regular.ttf)
	font-family: Roboto-Light
	src: url(../fonts/Roboto-Light.ttf)
	font-family: Roboto-Medium
	src: url(../fonts/Roboto-Medium.ttf)

.clearfix:before,
.clearfix:after
	content: ' '
	display: table

.clearfix:after
	clear: both



// @import _welcome.sass


body
	background: url(../img/bg.jpg) no-repeat
	background-size: cover 
	height: 100vh

.wrapper
	min-height: 100%
	overflow: hidden
	position: relative	
	.aut
		margin: 20px
		float: right
		width: 180px
		height: 45px
		text-align: center
		a.btn
			border: 1px solid white
			border-radius: 25px 25px 25px 25px
			color: #fff
			text-decoration: none
			text-align: center
			line-height: 45px
			display: block
			font-family: Roboto-Light
			font-size: 16px
			font-weight: 500
			&:hover
				background: #4e8839
				border: 1px solid #729e19
	.welcome
		width: 380px
		height: 395px
		background-color: rgba(48,72,65,.7)
		margin: 55px auto 0
		position: relative
		text-align: center
		.welcome_title
			position: relative
			.welcome_photo
				// margin: 40px
				padding: 40px 0 20px
				.photo_frame
					width: 140px
					height: 140px
					border-radius: 50%
					overflow: hidden
					margin: auto
					img
						width: 150px
						text-align: center
			.welcome_name
				h2
					font-family: Roboto-Light
					font-size: 28px
					font-weight: 800
					line-height: 34px
					color: #fff
					margin: 0
				p
					color: rgba(255,255,255,.8)
					font-family: Roboto-Light
					font-size: 16px
					font-weight: 400
					line-height: 24px
					margin: 0
			.welcome_social
				margin: 30px
				a 
					text-decoration: none
					color: rgba(255,255,255,.6)
					display: inline-block
					i.fa
						font-size: 30px
						padding: 0 13.5px
					&:hover
						color: #4e8839
		.welcome_btn
			width: 380px
			position: absolute
			bottom: 0
			left: 0
			a
				display: inline-block
				text-align: center
				text-decoration: none
				color: #fff
				line-height: 45px
				border-right: 2px solid rgba(158,183,157,.5)
				background: #6c9c5a
				// width: 125.3px
				padding: 0px 31.12px
				&:last-child
					border: none
				&:hover
					background: #4e8839
	.empty
		height: 80px
footer.welcome_footer
	height: 80px
	margin-top: -80px
	position: relative
	text-align: center
	color: #fff
	font-family: Roboto-Light
	font-size: 16px
	font-weight: 400
	line-height: 80px



