$link-hover: #4e8839
$text-font-h2: Roboto-Regular
$text-font-p: Roboto-Regular

/* Response About */
$left-side-container: 67%
$right-side-container: 90%


@font-face
	font-family: Sansus-Webissimo-Regular
	src: url(../fonts/Sansus-Webissimo-Regular.ttf)
	font-family: Roboto-Light
	src: url(../fonts/Roboto-Light.ttf)
	font-family: Roboto-Medium
	src: url(../fonts/Roboto-Medium.ttf)
	font-family: Roboto-Regular
	src: url(../fonts/Roboto-Regular.ttf)

.clearfix:before,
.clearfix:after
	content: ' '
	display: table

.clearfix:after
	clear: both

// @import _welcome.sass
@import common/_head_site_about
@import common/_head_site_about2







