.contact__information
	#map
	.contact__container
		.contact__title
			h3.title__h3-contact Контакты
			+contact('contact', [['Alexanderk', 'kype:alexzanderk?add', 'skype'], ['kotsarev.a@gmail.com', 'mailto: kotsarev.a@gmail.com', 'envelope'], ['+38-067-430-21-51', 'tel:+380674302151', 'phone'], ['Kiev city', '', 'map-marker']])
