.head__wrapper
	.tringledown__container
		header.header__container.clearfix
			+social('socials', {'vk' : 'https://vk.com', 'github-alt' : 'https://github.com/wellapex/portfolio', 'linkedin': 'https://www.linkedin.com/'})
			+hamburg
		section.about__author.about__author-bg
			.photo__container
				.photo__frame-author
					img.author__photo-main(src="/assets/img/me.jpg", alt="My Photo")
			.author__name
				h2.title__h2 Коцарев Александр
				p.title__text Личный сайт веб разработчика
	section.sidedown
		.sidedown__container
			a.sidedown__link(href="#")
				+tringle
		.sidedown__tringles
			svg.svg__tringls(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
				polygon(class="left__side__footer" points="0,0 0,86 500.8,86 500.8,75.5")
				polygon(class="right__side__footer" points="1000,0 1000,86 500,86 500,75.5")