.contact__information
	.map_container
		iframe.map__frame(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d81296.74616517058!2d30.560843500683585!3d50.44997902880942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1466024574587', frameborder='0', allowfullscreen='')
	.contact__container
		.contact__title
			h2.title__h2__dark Контакты
			+contact('contact', [['Alexanderk', 'kype:alexzanderk?add', 'skype'], ['kotsarev.a@gmail.com', 'mailto: kotsarev.a@gmail.com', 'envelope'], ['+38-067-430-21-51', 'tel:+380674302151', 'phone'], ['Kiev city', '', 'map-marker']])
