.head__wrapper
	include _preloader
	.tringledown__container
		header.header__container.clearfix
			+social('socials', [['vk', 'https://vk.com', 'Вконтакте'], ['github-alt', 'https://github.com/wellapex/portfolio', 'Git'], ['linkedin', 'https://www.linkedin.com/', 'LinkedIn']])
			+hamburg
		section.about__author.about__author-bg
			.photo__container
				.photo__frame-author
					img.author__photo-main(src="/assets/img/me.jpg", alt="My Photo")
			.author__name
				h1.title__h1 Коцарев Александр
				p.title__text Личный сайт веб разработчика
	section.sidedown
		.sidedown__container
			a.sidedown__link(href="#")
				+tringle
		.sidedown__tringles
			svg.svg__tringls(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
				polygon(class="left__side_footer" points="0,0 0,86 500.8,86 500.8,75.5")
				polygon(class="right__side_footer" points="1000,0 1000,86 500,86 500,75.5")