.head__wrapper
	.tringledown__container
		header.header__container.clearfix
			+social('socials', {'vk' : 'https://vk.com', 'github-alt' : 'https://github.com/wellapex/portfolio', 'linkedin': 'https://www.linkedin.com/'})
			+hamburg
		section.about__author
			.photo__container
				.photo__frame-author
					img.author__photo-main(src="/assets/img/me.jpg", alt="My Photo")
			.blog-name__container
				h1.title__h1 Блог
				svg.svg__blog_header(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
					use.svg__icon(xlink:href= "assets/img/sprite.svg#blog_header")
				p.text-p Статьи которые я написал
	section.sidedown
		.sidedown__container
			a.sidedown__link(href="#")
				+tringle
		.sidedown__tringles
			svg.svg__tringls(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
				polygon(class="left__side_footer_blog" points="0,0 0,86 500.8,86 500.8,75.5")
				polygon(class="right__side_footer_blog" points="1000,0 1000,86 500,86 500,75.5")