#blog__block__1
	header
		+social('socials', ['vk', 'github-alt', 'linkedin'])
		.head_menu
			a(href="#" class="fa fa-bars")
		.clearfix
	section.head_block
		.head_block_photo
			.photo_frame
				img(src="/assets/img/me.jpg", alt="My Photo")
		.head_block_name
			h2 Блог
			svg.svg__blog_header(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
				use.svg__icon(xlink:href= "assets/img/sprite.svg#blog_header")
			p Статьи которые я написал
	section.head_footer
		.head_footer_tr
			svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
				polygon(class="left_side_footer" points="0,0 0,86 500.8,86 500.8,75.5")
				polygon(class="right_side_footer" points="1000,0 1000,86 500,86 500,75.5")