footer.footer
	.footer__container-up
		.footer__left-side
			p.left-side-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__center-side
			.shape__container
				+navi_link('footer-navigation', {'Мои работы' : 'work.html', 'Обо мне' : 'about.html', 'Блог' : 'blog.html', 'Авторизация' : 'index.html'})
				+social('footer-socials', [['vk', 'https://vk.com', 'Вконтакте'], ['github-alt', 'https://github.com/wellapex/portfolio', 'Git'], ['linkedin', 'https://www.linkedin.com/', 'LinkedIn']])
		.footer__right-side
			p.text-right-side Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				br
				span.text-bold — Martin Golding
	.footer__container-down &#169; Kotsarev Alexandr | создано с любовью в LoftSchool | 2016