footer.footer
	.footer__container
		.left__side
			p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.center__side
			+navigation('navigation', ['Мои работы', 'Обо мне', 'Блог', 'Авторизация'], '1')
			+social('socials_down', ['vk', 'github-alt', 'linkedin'])
		.right__side
			p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				br
				span — Martin Golding
	.footer__down &#169; Kotsarev Alexandr | создано с любовью в LoftSchool | 2016