#block_2
	section.left_side
		.left_side_title
			h1 Обо мне
		.left_side_photo
			img(src="../assets/img/me_about.jpg", alt="me")
		.left_side_about_me
			h3 Кто я
			p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
			p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
	section.right_side
		.right_side_title
			.right_side_title_container
				h2 Чем я могу быть вам полезен
		.right_side_info
			p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
		ul.right_side_diagrams
			li.title.frontend
				h4 Frontend
			li.title.backend 
				h4 Backend
			li.title.workflow 
				h4 WorkFlow