#modal.modal__menu
	.modal__content.clearfix
		.menu__btn.clearfix
			a.btn__close(href="#")
				i.fa.fa-times
		+navi_links('navi', {'Мои работы' : 'work.html', 'Обо мне' : 'about.html', 'Блог' : 'blog.html'}, '0')