#modal.modal__menu
	.modal__content
		.menu__btn
			a.btn__close(href="#")
				i.fa.fa-times
		+navi_links('menu', {'Мои работы' : 'work.html', 'Обо мне' : 'about.html', 'Блог' : 'blog.html', 'Авторизация' : 'auth.html'}, '0')