.wrapper
	.aut
		a(href="#" class="btn")	Авторизоваться
	.clearfix
	.welcome
		.welcome_title
			.welcome_photo
				.photo_frame
					img(src="/assets/img/me.jpg" alt="my photo")
			.welcome_name 
				h2 Коцарев Александр
				p Личный сайт веб разработчика
			ul.welcome_social
				li.social_item
					a(href="#" class="fa fa-vk")
						//- i.fa.fa-vk
				li.social_item
					a(href="#" class="fa fa-github-alt")
						//- i.fa.fa-github-alt
				li.social_item
					a(href="#" class="fa fa-linkedin")
						//- i.fa.fa-linkedin
		.welcome_btn
			a(href="#") Мои работы
			a(href="#") Обо мне
			a(href="#") Блог
	.empty
footer.welcome_footer &#169; Kotsarev Alexandr | создано с любовью в LoftSchool | 2016