#work__block2
	.work__container
		.work__title
			h2 Мои работы
			svg.svg__works(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
				use.svg__icon(xlink:href= "assets/img/sprite.svg#works_header")
		.works__container
			.slider.block__slider1
				.slider__title
					| Site number 1 Далеко-далеко за.
				.slider__skill
					| HTML , CSS, JAVASCRIPT
				.slider__btn
					a(href="#" class="btn") Посмотреть сайт
						svg.svg__link(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
							use.svg__icon(xlink:href= "assets/img/sprite.svg#link")
			.slider.block__slider2
				img(src="assets/img/site1.png", alt="site")
			.slider.block__slider3
				.slider__bg
					a(href="#")
						img(src="assets/img/site2.png", alt="site" class="slider__controls-item slider__controls-item_prev")
						svg.svg__portf_arrow_down(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
							use.svg__icon(xlink:href= "assets/img/sprite.svg#portf_arrow_down")
				.slider__bg
					a(href="#")
						img(src="assets/img/site3.png", alt="site" class="slider__controls-item slider__controls-item_next")
						svg.svg__portf_arrow_up(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
							use.svg__icon(xlink:href= "assets/img/sprite.svg#portf_arrow_up")
