#work__block3.reviews
	.reviews_container
		.reviews__title
			h2 Что обо мне говорят
			svg.svg__about_header(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
				use.svg__icon(xlink:href= "assets/img/sprite.svg#about_header")
		.reviews__list
			+review('assets/img/aut1.jpg', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!', 'Ковальчук Дмитрий', '— основатель Loftschool')
			+review('assets/img/aut2.jpg', 'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!', 'Зар Захаров', '— главный преподаватель')
		.contact__with__me
			.contact__with__me__title
				h4 Связаться со мной
			.contact__with__me__form
				form.contact__form
					input(type="text" placeholder="Имя" class="form__name")
					input(type="email" placeholder="Email" class="form__mail")
					textarea(name="", cols="30", rows="5" placeholder="Ваше сообщение" class="form__text")
			.contact__with__me__btn
				input(type="submit" class="btn__review")
				input(type="reset" class="btn__review")
		a(href="#")
			svg.svg__portf_arrow_up_icon(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 	171.5 132.5")
				use.svg__icon(xlink:href= "assets/img/sprite.svg#portf_arrow_up")