@include add-grid(12)
@include add-gutter(1/3)
@include add-gutter-style('split')

@include sgs-change('debug', true)

.content__container
	background: #faf8f0
	padding-bottom: rem(250px)
	position: relative
	+breakpoint(max-width 480px)
		display: flex
		flex-flow: row wrap


/* LEFT SIDE */

.left-side__article
	@include grid-span(4, 1)
	height: 100%
	+breakpoint(max-width 480px)
		width: 100%
		display: none
	+breakpoint((max-width 768px) (orientation portrait))
		display: none
.artcl
	padding-top: rem(40px)
.artcl__list
	list-style: none
	padding: 0
	margin: 0
.artcl__item
	text-align: right
	display: block
	font-family: Roboto-Regular
	font-size: rem(16px)
	font-weight: 400
	line-height: rem(26px)
	padding: rem(10px)
.artcl__link
	text-decoration: none
	color: #566358
	&:hover
		color: #4e8839
		text-decoration: underline
.artcl__item-active 
	border-right: 3px solid #6c9c5a
	.artcl__link
		font-family: roboto-regular
		font-size: rem(16px)
		font-weight: 700
		line-height: rem(26px)
		color: #4e8839



/* RIGHT SIDE */

.right-side__article
	@include grid-span(8, 5)
	+breakpoint(max-width 480px)
		width: 100%
		box-sizing: border-box
		padding: 0 rem(10px)
		margin-bottom: 150px
	+breakpoint((max-width 768px) (orientation portrait))
		width: 100%
		margin: 0
		box-sizing: border-box
		padding: rem(10px) rem(15px)
.article__item
	padding: rem(30px)
	border-bottom: 5px solid rgba(#373e42, .07)
	&:last-child
		border: none
		+breakpoint((max-width 768px) (orientation portrait))
			padding-bottom: rem(50px)
	+breakpoint(max-width 480px)
		padding: 0
	+breakpoint((max-width 768px) (orientation portrait))
		padding: 0
.article__item-title
	+breakpoint(max-width 480px)
		padding: rem(30px) 0
	+breakpoint((max-width 768px) (orientation portrait))
		padding: rem(30px) 0
.title__h3
	color: #566358
	font-family: SansusWebissimo
	font-size: rem(35px)
	font-weight: 400
	margin: 0
	padding: rem(10px) 0
	+breakpoint(max-width 480px)
		padding: rem(10px) 0
	+breakpoint((max-width 768px) (orientation portrait))
		padding: rem(10px) 0
.article__item-date
	+breakpoint(max-width 480px)
		margin: rem(10px) 0
	+breakpoint((max-width 768px) (orientation portrait))
		margin: rem(10px) 0
	.date__text
		color: rgba(#4e8839, .7)
		font-family: roboto-regular
		font-size: rem(16px)
		font-weight: 400
		margin: rem(25px) 0
		+breakpoint(max-width 480px)
			margin: 0
		+breakpoint((max-width 768px) (orientation portrait))
			margin: 0
.article__item-content
.article__text
	color: #566358
	font-family: roboto-regular
	font-size: rem(16px)
	font-weight: 400
	line-height: rem(32px)