.head__block__name
	position: relative
.title__h1
	color: #fff
	font-family: SansusWebissimo
	font-size: rem(63px)
	font-weight: 400
	line-height: rem(56px)
	text-transform: uppercase
	padding-bottom: rem(30px)
	position: relative
	margin: rem(30px)
	text-align: center
	&:after
		content: ''
		position: absolute
		width: rem(90px)
		bottom: 0
		left: 50%
		transform: translate(-50%)
		border: 3px solid #fff
.svg__blog_header
	fill: #fff
	opacity: .12
	content: ''
	position: absolute
	top: 50%
	left: 50%
	width: 30%
	transform: translate(-50%,-50%)
.text__p
	color: #fff
	font-family: roboto-regular
	font-size: rem(16px)
	font-weight: 400
	line-height: rem(24px)
	text-align: center
.left__side_footer_blog
	fill: #faf8f0
.right__side_footer_blog
	fill: #faf8f0