#blog__block1
	position: relative
	background-image: url(../img/bg.jpg) 
	background-repeat: no-repeat
	background-size: cover 
	height: 100vh
	header
		padding: 37px 30px 50px
		// ul.head_social
		// 	float: left
		// 	padding: 0
		// 	margin: 0
		// 	li
		// 		list-style: none	
		// 		display: inline-block
		// 		a
		// 			text-decoration: none
		// 			display: inline-block
		// 			font-size: 27px
		// 			color: #fff
		// 			margin: 0 13.5px
		// 			&:hover
		// 				color: $link-hover
		.head_menu
			float: right
			a
				text-decoration: none
				display: inline-block
				font-size: 44px
				color: #fff
				&:hover
					color: $link-hover
	section.head_block
		padding: 50px 0 0
		// background: url(../img/blog_header.svg) no-repeat center
		text-align: center
		.head_block_photo
			.photo_frame
				width: 140px
				height: 140px
				border-radius: 50%
				overflow: hidden
				margin: auto
				img
					width: 150px
					text-align: center
		.head_block_name
			position: relative
			h2
				color: #fff
				font-family: roboto-regular
				font-size: 63px
				font-weight: 700
				line-height: 56px
				text-transform: uppercase
				padding-bottom: 30px
				position: relative
				margin: 30px
				&:after
					content: ''
					position: absolute
					width: 90px
					bottom: 0
					left: calc(50% - 45px)
					border: 3px solid #fff
			.svg__blog_header
				fill: #fff
				opacity: .12
				content: ''
				position: absolute
				top: 50%
				left: 50%
				width: 30%
				transform: translate(-50%,-50%)
			p
				color: #fff
				font-family: roboto-regular
				font-size: 16px
				font-weight: 400
				line-height: 24px
	section.head_footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		.head_footer_arrow_down
			position: absolute
			bottom: 100px
			left: 0
			right: 0
			z-index: 10
			margin: auto
		svg
			z-index: 2
			position: absolute
			bottom: 0px
			left: 0
			right: 0
			polygon.left_side_footer
				fill: #faf8f0
			polygon.right_side_footer
				fill: #faf8f0