footer.footer
	background-color: rgba(#373e42, .85)
	height: 150px
	z-index: 50
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	.footer__container
		display: flex
		// justify-content: center
		.left__side
			width: 33.33%
			margin: 20px
			p
				display: block
				margin: auto
				color: rgba(#fff, .5)
				font-family: roboto-regular
				font-size: 16px
				font-weight: 100
				line-height: 24px
				margin: 0
		.center__side
			margin: 20px 0
			padding: 0 20px
			width: 33.33%
			border-right: 1px solid #373e42
			border-left: 1px solid #373e42
		nav.navigation
			display: block
			margin: auto
			.navigation__container
				margin: auto
				ul.navigation__list
					list-style: none
					padding: 0
					margin: 0
					li.navigation__item
						padding: 0 10px
						display: inline-block
						a.navigation__link
							text-decoration: none
							color: white
							font-family: roboto-regular
							font-size: 16px
							font-weight: 500
							line-height: 24px
							&:hover
								opacity: .7		
		div.socials_down
			margin: auto
			padding: 30px 0 29px
			ul.socials_down__list
				list-style: none
				padding: 0
				margin: 0
				li.socials_down__item
					display: inline-block
					a.socials_down__link
						text-decoration: none
						display: inline-block
						font-size: 27px
						color: rgba(#fff, .5)
						margin: 0 13.5px
						&:hover
							color: #fff
		
		.right__side
			width: 33.33%
			margin: 20px
			p
				display: block
				margin: auto
				color: rgba(#fff, .5)
				font-family: roboto-regular
				font-size: 16px
				line-height: 26px
				font-weight: 300
				font-style: italic
				margin: 0
				span
					font-weight: 700
					font-style: italic
	.footer__down
		background: #6c9c5a
		opacity: .85
		height: 38px
		line-height: 38px
		color: #fff
		text-align: center
		font-family: roboto-regular
		font-weight: 300