.footer
	width: 100%
	background-color: rgba(#373e42, .85)
	position: absolute
	bottom: 0
	left: 0
	display: flex
	flex-flow: row wrap

.footer__container__up
	width: 100%
	display: flex
	justify-content: space-between

/* LEFT BLOCK */
.footer__left__side
	flex: 0 2 auto
	margin: rem(30px) 0 rem(20px)
.footer__left__side__text
	color: #fff
	font-family: Roboto-regular
	font-size: rem(16px)
	font-weight: 300
	line-height: rem(24px)
	padding-left: rem(30px)
	margin: 0
/* CENTER BLOCK */
.footer__center__side
	flex: 1 0 auto
	margin: rem(30px) 0 rem(20px)
.shape__container
	border-left: 1px solid rgba(#FFF, .2)
	border-right: 1px solid rgba(#FFF, .2)
	
.footer__navigation
.footer__navigation__container
.footer__navigation__list
	padding: 0
	margin: 0
	list-style: none
.footer__navigation__item
	display: inline-block
	padding: 0 rem(9.5px)
	&:first-child
		padding-left: rem(30px)
	&:last-child
		padding-right: rem(28px)
.footer__navigation__link
	text-decoration: none
	color: #fff
	font-family: Roboto-regular
	font-size: rem(16px)
	font-weight: 500
	line-height: rem(24px)
	text-align: center
	&:hover
		text-decoration: underline
		opacity: .5
.footer__socials
.footer__socials__list
	padding: 0
	margin: 0
	list-style: none
.footer__socials__item
	display: inline-block
	padding: rem(20px) rem(10px) rem(25px)
	&:first-child
		padding-left: rem(30px)
.footer__socials__link
	text-decoration: none
	opacity: 0.5
	color: #FFF
	font-size: rem(25px)
	&:hover
		opacity: 1

/* RIGHT BLOCK */
.footer__right__side
	flex: 0 3 auto
	margin: rem(30px) 0 rem(20px)
.footer__right__side__text
	color: rgba(#fff, .5)
	box-sizing: border-box
	font-family: Roboto-regular
	font-size: rem(16px)
	line-height: rem(26px)
	font-weight: 300
	font-style: italic
	padding:rem( 0px) rem(50px) 0 rem(30px)
	margin: 0
.footer__right__side__text_bold
	font-weight: 700

.footer__container__down
	width: 100%
	background-color: rgba(#6c9c5a, .85)
	color: #fff
	font-family: Roboto-regular
	text-align: center
	font-size: rem(16px)
	font-weight: 300
	line-height: rem(38px)