.contact__information
	position: relative
.map__frame
	width: 100%
	height: 120vh
.contact__container
	width: rem(380px)
	background: rgba(#f4f5f0, .85)
	position: absolute
	top: 40%
	left: 50%
	transform: translate(-50%,-50%)
	border-radius: rem(5px)
.contact__title
.title__h2__dark
	color: #566358
	font-family: SansusWebissimo
	font-size: rem(35px)
	font-weight: 400
	line-height: rem(41px)
	text-transform: uppercase
	text-align: center
	position: relative
	margin: 0
	margin-bottom: rem(36px)
	margin-top: rem(36px)
	padding-bottom: rem(25px)
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translate(-50%)
		width: rem(90px)
		border-bottom: 3px solid #566358


.contact__list
	margin: 0
	padding: 0
.contact__item
	list-style: none
	padding: rem(10px) 0
	padding-left: rem(40px)
	padding-right: rem(10px)
	display: flex
	&:first-child
		margin-top: 0
		padding-top: 0
	&:last-child
		margin-bottom: rem(25px)
.contact__icon
	color: #6c9c5a
	padding-right: rem(15px)
	font-size: rem(25px)
	display: inline-block
.contact__span
	display: inline-block
	color: #566358
	font-family: Roboto-Regular
	font-size: rem(16px)
	font-weight: 500
	line-height: rem(24px)
.contact__link
	text-decoration: none
	color: #566358
	font-family: Roboto-regular
	font-size: rem(16px)
	font-weight: 500
	line-height: rem(24px)
	&:hover
		text-decoration: underline