#block_2
	display: flex
	position: relative
	section.left_side
		width: 50%
		background: #ebefe2
		svg#Layer_1
			position: absolute
			top: -40px
			left: 50px
			margin: auto
		.left_side_title
			width: $left-side-container
			margin: 10px auto 35px
			h1
				color: #373e42
				font-family: Roboto-Regular
				font-size: 55px
				font-weight: 800
				// line-height: 1.5
				text-transform: uppercase
				text-align: center
				position: relative
				margin: 0 auto
				padding: 10px 20px 10px
				&:after
					content: ''
					position: absolute
					bottom: 0
					left: 41%
					width: 90px
					border-bottom: 3px solid #373e42
		.left_side_photo
			max-width: $left-side-container
			width: 500px
			height: 400px
			overflow: hidden
			text-align: center
			margin: 0 auto
			img
				width: 100%
				height: auto
		.left_side_about_me
			margin: 40px auto
			width: $left-side-container
			h3
				color: #566358
				font-family: Roboto-Regular
				font-size: 35px
				font-weight: 700
				line-height: 41px
				text-transform: uppercase
				text-align: center
				margin: 0
				padding: 0 10px 20px
				position: relative
				&:after
					content: ''
					position: absolute
					bottom: 0
					width: 90px
					left: 41%
					border-bottom: 3px solid #566358
			p
				padding: 18px 0 5px
				margin: 0
				color: #566358
				font-family: Roboto-Regular
				font-size: 16px
				font-weight: 400
				line-height: 24px
	section.right_side
		width: 50%
		background: #f4f5f0
		.right_side_title
			margin: 10px auto 35px
			width: $right-side-container
			.right_side_title_container
				width: 43.33%
				margin: 0 auto
				position: relative
				h2
					text-align: center
					color: #566358
					font-family: Roboto-Regular
					font-size: 28px
					font-weight: 800
					line-height: 1.5
					text-transform: uppercase
					padding: 0 0 20px
					margin: 0
					&:after
						content: ''
						position: absolute
						bottom: 0
						width: 90px
						left: 30%
						border-bottom: 3px solid #566358
		.right_side_info
			margin: auto
			width: $right-side-container
			p
				color: #566358
				font-family: Roboto-Regular
				font-size: 16px
				font-weight: 400
				line-height: 24px
		ul.right_side_diagrams
			margin: 55px auto
			width: $right-side-container
			list-style: none
			padding: 0
			li.title
				h4
					color: #566358
					font-family: Roboto-Regular
					font-size: 26px
					font-weight: 500
					line-height: 32px
			li.frontend
			li.backend
			li.workflow
