#modal
	width: 100vw
	height: 100vh
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#6c9c5a, .87)
	z-index: 100
	.modal__content
		margin: auto
		.menu__btn
			float: right
			padding: 36px	47px
			a
				display: inline-block
				text-decoration: none
				color: white
				font-family: SansusWebissimo
				font-size: 47px
				font-weight: 400
				line-height: 24px
				text-transform: uppercase
		nav.navi
			display: flex
			div.navi__container
				margin: auto
				ul.navi__list
					list-style: none
					// display: flex
					// flex-flow: column
					// justify-content: center
					li.navi__item
						position: relative
						a
							display: block
							padding: 25px
							margin: 25px
							text-align: center
							text-decoration: none
							color: white
							font-family: SansusWebissimo
							font-size: 63px
							font-weight: 400
							line-height: 24px
							text-transform: uppercase
								
.navi__item_active:after,
.navi__item:hover:after
	content: ''
	position: absolute
	bottom: 0
	left: calc(50% - 45px)
	width: 90px
	border-bottom: 3px solid #fff
