.svg__arrow_down
	display: block
	width: 25px


.socials
	ul.socials__list
		float: left
		padding: 0
		margin: 0
		li.socials__item
			list-style: none	
			display: inline-block
			a.socials__link
				text-decoration: none
				display: inline-block
				font-size: 27px
				color: #fff
				margin: 0 13.5px
				&:hover
					color: $link-hover