.reviews
	// background: url(../img/bg2.jpg)
	// background-repeat: no-repeat
	// background-position: center center
	// background-size: 2000px
	// background-size: cover
	padding: rem(20px) 0 rem(150px)
	overflow: hidden
	position: relative
	// z-index: 100
	+breakpoint(max-width 480px)
		padding: 0
		padding-bottom: 300px
	+breakpoint((482px 768px) (orientation portrait))
		padding: 0
		padding-bottom: 400px
.reviews__container
	// min-height: 100%
	// // width: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	min-width: 900px
	+breakpoint(max-width 480px)
		box-sizing: border-box
		padding: rem(15px) rem(10px)
	+breakpoint((482px 768px) (orientation portrait))
		box-sizing: border-box
		padding: rem(15px) rem(10px)
.img__bg
	display: block
	width: 100%
.reviews__title
	max-width: rem(450px)
	position: relative
	text-align: center
	margin: auto
.title__h2-review
	color: #373e42
	font-family: SansusWebissimo
	font-size: rem(60px)
	font-weight: 400
	line-height: rem(65px)
	text-transform: uppercase
	position: relative
	margin: 0
	padding: rem(33px) 0
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translate(-50%)
		width: rem(90px)
		border-bottom: 3px solid #373e42
	+breakpoint(max-width 480px)
		font-size: rem(50px)
		line-height: rem(55px)
		padding-bottom: rem(26px)
.svg__about_review
	fill: #93c42e
	opacity: .1
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	+breakpoint(max-width 480px)
		width: 90%	
.reviews__list
	width: 100%
	display: flex
	margin: rem(30px) 0
	justify-content: center
	+breakpoint(max-width 480px)
		flex-flow: column
	+breakpoint((482px 768px) (orientation portrait))
		flex-flow: column
.reviews__item
	max-width: rem(400px)
	padding-right: rem(20px)
	position: relative
	background-image: url(../img/sprite.svg#quote)
	&:last-child
		padding-right: 0
	&:before
		content: url(../img/sprite.svg#quote)
		position: absolute
		top: 50%
		left: 50%
		width: rem(100px)
		height: rem(100px)
	+breakpoint(max-width 480px)
		padding: 0
		margin: 0
		box-sizing: border-box
		width: 100%
	+breakpoint((482px 768px) (orientation portrait))
		width: 100%
		padding: 0
		margin: 0
		box-sizing: border-box

.reviews__item-photo
	width: rem(77px)
	height: rem(77px)
	border-radius: 50%
	overflow: hidden
	margin: auto
.review__photo
	width: 100%
	height: auto
.reviews__item-review
	position: relative
.review__comment
	color: #5d5a55
	font-family: Roboto-Regular
	font-size: rem(16px)
	font-style: italic
	line-height: rem(26px)
	max-width: 100%
.svg__quote
	fill: #93c42e
	opacity: .1
	position: absolute
	top: rem(-20px)
	left: 0
	width: 20%
.reviews__item-author
	width: rem(400px)
	text-align: center
	margin: auto
	+breakpoint(max-width 480px)
		box-sizing: margin-box
		width: 100%
	+breakpoint((482px 768px) (orientation portrait))
		box-sizing: margin-box
		width: 100%
.review-author
	font-family: Roboto-regular
	font-size: rem(16px)
	line-height: rem(24px)
	color: #4e8839
	font-weight: 600
.review-author__prof
	font-family: Roboto-regular
	font-size: rem(16px)
	line-height: rem(24px)
	color: #373e42
	font-weight: 400

	

.contact-with-me
	max-width: rem(380px)
	min-height: rem(460px)
	background-color: rgba(#e0e0dc, .6)
	border-radius: rem(5px)
	margin: 0 auto rem(150px)
	overflow: hidden
	position: relative
	+breakpoint(max-width 480px)

.blur__bg
	width: 100%
	height: 100%
	background-image: url(../img/bg2.jpg)
	background-repeat: no-repeat
	background-position: center center
	filter: blur(10px)
	-webkit-filter: blur(10px)
	position: absolute
	bottom: 0
	top: 0
	left: 0
	right: 0
	z-index: 2

.contact-with-me__title
.title__h3-review
	margin: 0
	text-align: center
	color: #566358
	font-family: roboto-regular
	font-size: rem(30px)
	font-weight: 600
	line-height: rem(41px)
	text-transform: uppercase
	padding: rem(29px) 0 
	position: relative
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translate(-50%)
		width: rem(90px)
		border-bottom: 3px solid #566358
.contact-with-me__form
	position: relative
	z-index: 10
.contact__form
	width: 100%
	margin: rem(30px) 0 0
	display: flex
	flex-flow: row wrap
	font-family: roboto-regular
.form__name
	color: #777
	border-radius: rem(50px)
	width: rem(300px)
	font-family: roboto-regular
	padding: rem(16px) rem(20px)
	margin: rem(10px) rem(20px)
	background-color: rgba(#FFF, .85)
	border: none
	&:focus
		outline: none
.form__mail
	color: #777
	border-radius: rem(50px)
	width: rem(300px)
	padding: rem(16px) rem(20px)
	margin: rem(10px) rem(20px)
	background-color: rgba(#FFF, .85)
	font-family: roboto-regular
	border: none
	&:focus
		outline: none
.form__text
	color: #777
	border-radius: rem(25px)
	width: rem(300px)
	padding: rem(16px) rem(20px)
	margin: rem(10px) rem(20px)
	font-family: roboto-regular
	background-color: rgba(#FFF, .85)
	border: none
	resize: none
	&:focus
		outline: none
.contact__with__me__btn
	display: flex
	justify-content: space-around
.btn__review
	width: 50%
	height: rem(45px)
	color: #fff
	background-color: #6c9c5a
	border: none
	border-right: 2px solid rgba(#dee3e7, .5)
	cursor: pointer
	font-family: roboto-regular
	&:last-child
		border-right: none
	&:hover
		background-color: #4e8839
	&:focus
		outline: none
.svg__portf_arrow_up_icon
	fill: #fff
	position: absolute
	bottom: 17%
	left: 50%
	transform: translate(-50%,-15%)
	width: 25px

::-webkit-scrollbar
	display: none
