#work__block2
	position: relative
	.work__container
		.work__title
			background: #f8f9f5
			height: 170px
			width: 100%
			position: relative
			h2
				text-align: center
				color: #373e42
				font-family: Roboto-Regular
				font-size: 63px
				font-weight: 800
				line-height: 80px
				text-transform: uppercase
				margin: 0px
				padding: 30px
				z-index: 20
				position: relative
				&:after
					content: ''
					position: absolute
					bottom: 0
					left: calc(50% - 45px)
					width: 90px
					border-bottom: 3px solid #566358
			.svg__works
				width: 35%
				z-index: 10
				position: absolute
				top: 50%
				left: 50%
				fill: #93c42e
				opacity: .1
				transform: translate(-50%,-50%)
		.works__container
			height: 100vh
			display: flex
			flex-flow: column wrap
			min-height: 650px
			.block__slider1
				background: #ebefe2
				width: 50%
				height: 100%
				display: flex
				flex-flow: column
				align-items: center
				justify-content: center
				.slider__title
					text-align: center
					width: 80%
					color: #566358
					font-family: Roboto-Regular
					text-transform: uppercase				
					font-size: 35px
					font-weight: 800
					line-height: 41px
					padding: 20px
					position: relative
					&:after
						content: ''
						position: absolute
						bottom: 0
						left: calc(50% - 45px)
						width: 90px
						border-bottom: 3px solid #566358
				.slider__skill
					padding: 27px
					color: #4e8839
					font-family: Roboto-Regular
					font-size: 16px
					font-weight: 500
				.slider__btn
					padding: 23px
					a
						display: inline-block
						text-decoration: none
						line-height: 45px
						color: white
						font-family: Roboto-Regular
						font-size: 16px
						font-weight: 500
						padding: 0 20px
						.svg__link
							position: absolute
							left: 15px
							top: calc(50% - 11px)
							fill: #fff
							width: 25px
			.block__slider2
				background: #e1e4d7
				width: 50%
				height: 68.9%
				img
					width: 100%
					height: auto
			.block__slider3
				width: 50%
				height: 30%
				display: flex
				z-index: 20
				.slider__bg
					background-color: rgba(176, 183, 170, 0.7)
					position: relative
					width: 50%
					height: 100%
					&:after
						content: ''
						position: absolute
						background-color: rgba(176, 183, 170, 0.7)
						top: 0
						left: 0
						right: 0
						bottom: 0
						// z-index: 1
					a
						img
							z-index: 2
							width: 100%

.svg__portf_arrow_down
	position: absolute
	top: 50%
	left: 50%
	width: 15%
	transform: translate(-50%,-50%)
	fill: #fff
	z-index: 10
.svg__portf_arrow_up
	position: absolute
	top: 50%
	left: 50%
	width: 15%
	transform: translate(-50%,-50%)
	fill: #fff
	z-index: 10


.btn
	position: relative
	border-radius: 30px
	width: 155px
	height: 45px
	background-color: #6c9c5a
	text-align: right
	line-height: 45px
	font-family: roboto-regular
	&:hover
		background-color: #4e8839




.slider

.slider__controls-item.slider__controls-item_prev
.slider__controls-item.slider__controls-item_next
