doctype html
html
	include ../common/_head
	body
		include ../common/_browserold

		include ../common/_mixins

		include ../common/_about_block1
		include ../common/_about_block2
		include ../common/_about_block3
		include ../common/_footer
		include ../common/_menu